# Backend config
DATABASE_URL="postgresql://postgres:123456@localhost/akabis"
NODE_ENV = local # local | dev | production
PORT = 4000
DEPLOY_URL = https://dev-akabis-160903.dev-bsscommerce.com

# URL
FRONTEND_CORS_ORIGIN = true # true or frontend_url
FRONTEND_URL = http://localhost:3001/
BACKEND_URL = http://localhost:4000/

#JWT
JWT_SECRET = jwtsecretkey
JWT_EXPIRES_IN = 604800
JWT_REFRESH_SECRET = jwtrefreshkey  
JWT_REFRESH_EXPIRES_IN = 604800

# Email
EMAIL_HOST= smtp.gmail.com
EMAIL_PORT= 587
EMAIL_USER= tungphandev.work@gmail.com
EMAIL_PASS= gxve qjfa oaao cusi

# Payment
PAYPAL_CLIENTID=AQ-PqNzysAmudch_76xfJZybS7Nwnwn9iKif96nh6tm9u7XgJy7DcowLRDaTRP4ApiKuZNwA73tYd0tq
PAYPAL_SECRET=EJZdmH_r_jawzKic12OlAZmTvfUur491mUDl-mtXkv7LFb2aEF7NOUpY8RByG26E0DeUvCw3rXQ7vzou
PAYPAL_BASEURL=https://api-m.sandbox.paypal.com
PAYPAL_REDIRECT_BASE_URL=http://localhost:3001

# AI
GEMINI_API_KEY = AIzaSyCETIHwWNTcL4zGURYDi2IUtOxdCy89Pns
GEMINI_TEMPERATURE = 0.7
GEMINI_MAX_TOKEN = 1000

GROQ_API_KEY=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
GROQ_TEMPERATURE=0.7
GROQ_MAX_TOKEN=1000

# OAuth
GOOGLE_CLIENT_ID=24445417352-muu06rtatilfrnbie8olvveh03b2jjhr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

FACEBOOK_CLIENT_ID=1583462406015000
FACEBOOK_CLIENT_SECRET=9af50beec2503e8324a591d3b4b9c79c

RECAPTCHA_SECRET_KEY=6LctMgcsAAAAAPkzOzyZHq7CZ0dpaGzJ_qCl5FS0

# Bot
TELE_BOT_TOKEN = 7747816264:AAED_t9PvTP2QVhNHvQxwP3IrH3XXeoOPKY

# Redis
REDIS_URI=redis://@localhost:6379
AMQP_URI=amqp://guest:guest@localhost:5672/

#Rabbit
AMQP_URI="amqp://tung:dev@localhost:5673/"